:root {
  --backgroundColor: #427AA1;
  --white: #EBF2FA;
  --DarkBlue: #064789;
}

body {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  background-color: var(--backgroundColor);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  input Classes   */

.inputPlusBtnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputContainer {
  padding-top: 10px;
  background-color: var(--white);
  padding-bottom: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Title {
  color: var(--DarkBlue);
  font-size: 25px;
}

.InputText {

  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  max-width: 500px;
  height: 30px;
  width: 100%;
  border-radius: 25px;
  border-style: none;

  color: var(--white);
  font-style: italic;
  border-color: transparent;
  font-size: 20px;
  background-color: var(--backgroundColor);
  margin-bottom: 30px;
}

.BtnInput {
  background-color: var(--DarkBlue);
  border-color: transparent;
  max-width: 510px;
  width: 100%;
  border-radius: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: ease 0.7s;

}

.BtnInput:hover {
  background-color: var(--backgroundColor);
}

.InputText:focus {
  outline: none;
}

/* Home */

.NomeAvatar {
  color: var(--white);
  margin-right: 20px;
}

.NavBarHome {
  display: flex;

  align-items: center;
  justify-content: flex-end;
}

.HomeTitleContainer {
  display: flex;

  align-items: center;
  justify-content: flex-start;
}

.HomeTitleContainer>h4 {
  margin-left: 30px;
  font-size: 35px;
  color: var(--white) !important;
}

.BtnAddViaggio {
  background-color: var(--DarkBlue);
  border-radius: 25px;
  border-color: transparent;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 40px;

  cursor: pointer;
}

.BtnAddContainer {
  display: flex;

  justify-content: center;
}

.AddIcon {
  font-size: 50px !important;
  color: var(--white);
}

.ViaggiContainer {
  padding-left: 100px;
  padding-right: 100px;
}

.SingleTrip {
  background-color: var(--DarkBlue);
  color: var(--white);
  border-radius: 25px;
  border-color: transparent;

  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  cursor: pointer;
}


::-webkit-scrollbar {
  background-color: var(--backgroundColor);
}


::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background-color: var(--DarkBlue);
}

.DateContainer {
  display: flex;

  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.Icona {
  margin-right: 10px;
  font-size: 35px !important;
}

.Paragrafo {
  font-size: x-large;
  display: flex;
}

/* Inspect Viaggio */

h1 {
  color: var(--white);
}

.TitleOfTrip {
  color: var(--white);
  display: flex;
  padding-left: 10%;
}

.ContainerTappe {
  background-color: var(--DarkBlue);
  color: var(--white);
  border-radius: 25px;
  border-color: transparent;
  margin-left: 10%;
  margin-right: 10%;

  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.BtnAddTappa {
  background-color: var(--backgroundColor);

  padding-top: 5px;

  padding-bottom: 5px;

  border-color: transparent;

  border-radius: 25px;
  padding-left: 20%;

  padding-right: 20%;
  cursor: pointer;
}

.TappeContainer {
  display: flex;
  margin-left: 10%;

  flex-direction: column;
  align-items: flex-start;
}

.SingleTappa {
  display: flex;
}

.Accordion {
  color: var(--white) !important;
  box-shadow: none !important;
  position: initial !important;
  background-color: var(--DarkBlue) !important;
  border-color: transparent !important;
}

.RegLogInput{
  width: 100%;
}

.SingleInput {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.CreaTappa {
  margin-top: 0px !important;
}

.headerTrip {
  display: flex;

  justify-content: space-around;
}

.calendar{
  margin-top:20px;
  margin-bottom: 20px;
}

.displayDate{
  color: var(--DarkBlue);
}

.TitleContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Row{
  display: flex;
  
  flex-direction: column-reverse;
}

.prova{
  display: flex;
}